# Dependências Node.js
node_modules/
dist/

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de sistema e editor
.DS_Store
Thumbs.db
*.swp

# Configurações locais e chaves
.env
.env.local
.env.*.local

# Arquivos TypeScript
*.tsbuildinfo

# Saída de build TypeScript
out/

# Ignorar diretórios temporários
temp/
undefined/